<section class="relative z-0 overflow-hidden h-80">
    <img class="w-full h-full absolute -z-10 object-cover object-center" loading="lazy" src="/images/parque-mendoza.jpg" alt="tours de mendoza" />
    <div class="relative top-1/2 -translate-y-1/2 text-center">
        <p class="text-3xl sm:text-4xl md:text-5xl font-bold text-white mb-10 text-outline">Todos los tours incluyen guías locales</p>
        <a class="px-8 py-2 bg-primary-700 text-white text-lg font-bold rounded-md hover:bg-primary-800 dark:bg-gray-400 dark:hover:bg-gray-500" href="/contact">Contáctenos</a>
    </div>
    <div class="w-full h-full bg-black opacity-60 dark:opacity-70 absolute top-0 left-0 -z-10"></div>
</section>
<style>
    .text-outline {
      text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    }
</style>
