---
import Feature from '@/components/Feature.astro';
import ButtonStyled from '@/components/ButtonStyled.astro';
---

<section class="relative z-0 overflow-hidden">
    <img class="w-full h-full absolute -z-10 object-cover object-center" loading="lazy" src="/images/bg-mountain.webp" alt="aconcagua mendoza" />
    <div class="py-20 container mx-auto ">
        <h2 class="text-center font-bold text-4xl border-b-title sm:w-max mx-auto pb-2 dark:text-white">Puntos turísticos de Mendoza</h2>
        <section class="pt-20 pb-10">
            <div class="grid grid-cols-1 max-sm:space-y-6 sm:grid-cols-2 lg:grid-cols-3 sm:gap-4 lg:gap-5 items-center justify-items-center sm:max-w-lg lg:max-w-screen-md mx-auto ">
                <Feature
                    src="/images/lugares-turisticos/puente-del-inca.webp"
                    text="Puente del Inca"
                />
                <Feature
                    src="/images/lugares-turisticos/complejo-hidroelectrico-el-nihuil.webp"
                    text="Complejo hidroeléctrico Los Nihuiles"
                />
                <Feature
                    src="/images/lugares-turisticos/san-rafael-ciudad.webp"
                    text="Ciudad de San Rafael"
                />
                <Feature
                    src="/images/lugares-turisticos/hotel-y-reserva-villavicencio.webp"
                    text="Quebrada de Villavicencio"
                />
                <Feature
                    src="/images/lugares-turisticos/caracoles-en-villavicencio.webp"
                    text="Caracoles de Villavicencio"
                />
                <Feature
                    src="/images/lugares-turisticos/aconcagua.webp"
                    text="Mirador cerro Aconcagua"
                />
            </div>
            <div class="mt-12 flex justify-center">
                <ButtonStyled
                    href="/packages"
                >
                    Ver más <svg class="inline text-primary-700 group-hover:text-semiBlack" xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m21 12l-5-5m5 5l-5 5m5-5H3"/></svg>
                </ButtonStyled>
            </div>
        </section>
    </div>
</section>