<section
    class="bg-[url('/images/hero-potrerillos.png')] bg-no-repeat bg-cover bg-center h-dvh w-full flex flex-col justify-center items-center dark:bg-gray-700 bg-blend-multiply">
    <div class="relative py-8 px-4 mx-auto max-w-screen-xl lg:py-52 xl:px-0 z-1 ">
        <div class="max-w-screen-md text-center mx-auto">
            <p
                class="mb-4 text-shadow-lg md:text-nowrap text-3xl sm:text-4xl md:text-4xl lg:text-5xl font-bold tracking-tight leading-tight text-white dark:text-gray-200"
            >
                Disfrutá la experiencia
            </p>
            
            
            <h1
                class="bg-primary-700/70 text-shadow-md rounded-md font-normal text-white text-md sm:text-lg md:text-xl px-4 lg:text-2xl py-2 tracking-tight max-w-xs sm:max-w-sm lg:max-w-md dark:text-gray-200 dark:bg-gray-700/70 mx-auto">
                Descubre los principales atractivos turísticos de Mendoza
            </h1>
        </div>
    </div>
</section>