---
interface Props {
    title: string;
    subTitle: string;
    images: string[];
}
const { title, subTitle, images } = Astro.props
---
<section class="container mx-auto py-10 px-4 font-poppins">
    <div class="grid grid-cols-12 max-w-screen-lg gap-4 mx-auto max-lg:shadow-lg">
        <div class="col-span-12 lg:col-span-8 px-6 py-3 lg:shadow-lg rounded-md">
            <h2 class="text-left font-semibold text-2xl text-semiBlack border-b-title pb-2 mr-auto mb-2 dark:text-white">{title}</h2>
            <h3 class="text-left text-lg font-medium text-semiBlack dark:text-white mb-3">{subTitle}</h3>
            { 
                images.map(
                    image => <img loading="lazy" class="rounded-md w-full h-72 object-cover object-center" src={image} alt="" />
                )
            }
            <slot name="content" />
        </div>
        <div class="col-span-12 lg:col-span-4 px-6 max-lg:pb-3 lg:py-3 lg:shadow-lg rounded-md">
            <hr class="border-gray-300 mb-4 lg:hidden" />
            <slot name="aside" />
        </div>
    </div>
</section>